html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.conteiner {
  margin: 0 auto;
  padding: 0;
  width: 1110px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

img {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

/* HEADER */

.nav-blok {
  padding-top: 42px;
  padding-bottom: 38px;
}

.logo {
  float: left;
  color: #555252;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: -0.6px;
  text-decoration: none;
}

.logo::first-letter {
  color: #1abc9c;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.list {
  margin: 0;
  margin-top: 6px;
  padding: 0;
  width: 468px;
  float: right;
  list-style: none;
}

.list li {
  float: left;
  margin-right: 30px;
}

.list li:last-child {
  margin-right: 0;
}

.list a:hover,
.list a:focus {
  color: #1abc9c;
  cursor: pointer;
}

.list a {
  font-family: "Open Sans", sans-serif;
  color: #0f0101;
  line-height: 11px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

/* Background Slaider Zone */

.box {
  margin: 0 auto;
  padding: 0;
  width: 1600px;
}
.background-slider {
  min-height: 600px;
  background-image: linear-gradient(rgba(0, 0, 2, 0.52), rgba(0, 0, 2, 0.52)),
    url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.heading-box {
  position: absolute;
  top: 270px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  z-index: 2;
}

h1 {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 900;
  line-height: 82px;
  text-transform: uppercase;
  letter-spacing: -1.2px;
}

.title-hover:hover {
  color: #ff7200;
  cursor: pointer;
}

.heading-box p {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 54px;
  text-transform: uppercase;
  letter-spacing: -0.48x;
}

/* BATTON SCROLL */

.batton-scroll {
  position: absolute;
  top: 278px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.batton {
  font-size: 100px;
  line-height: 1.1;
  color: #ffffff;
  text-align: center;
  width: 105px;
  height: 105px;
  border: none;
  background-color: rgba(26, 188, 156, 0.65);
}

.batton:hover {
  background-color: rgb(26, 188, 156);
  cursor: pointer;
}

.left-clik {
  float: left;
}

.right-clik {
  float: right;
}

/* SECTION - PRODUCT-CARD */

.background-card {
  background-color: #e9f0fd;
}

h2 {
  margin: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 48px;
  text-transform: uppercase;
  color: #515151;
  letter-spacing: -0.96px;
}

h2::after {
  content: "";
  display: block;
  margin: 0 auto;
  padding-top: 22px;
  width: 165px;
  border-bottom: 8px solid #1abc9c;
}

.product-list {
  margin: 0;
  padding: 92px 0 104px 0;
  list-style: none;
}

.product-list li {
  float: left;
  width: 255px;
  margin-bottom: 30px;
}

.product-list li:not(:nth-child(4n)) {
  margin-right: 30px;
}

.product-list li:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.pic-product {
  display: block;
  background-color: #e9f0fd;
  overflow: hidden;
}

.product-box {
  background-color: #323232;
}

.product-name {
  margin: 0;

  float: left;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: -0.36px;
  color: #ffffff;
  text-transform: uppercase;
  list-style: none;
}

.product-name a {
  display: block;
  padding-left: 10px;
  width: 200px;
  line-height: 40px;
  color: #ffffff;
  text-decoration: none;
}

.price {
  float: right;
  margin: 0;
  width: 55px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: -0.36px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 44%);
}

.price::before {
  content: "$";
}

.product-list li :hover {
  background-color: #1abc9c;
}
